<link rel="stylesheet" href="/public/stylesheets/others/index.css">
<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main>
  <table>
    <thead>
      <tr>
        <th>Arline</th>
        <th>Airport</th>
        <th>Flight Number</th>
        <th>Departing</th>
        <th>Tickets</th>
      </tr>
    </thead>
    <tbody>
      <%flights.forEach(flight => { %>
        <tr>  
          <td><%= flight.airline %></td>
          <td><%= flight.airport %></td>
          <td><%= flight.flightNo %></td>
          <td><%= flight.departs %></td>
          <td><a href="/flights/<%= flight._id %>">Details</a>
          </td>
          <td>
            <form action="/flights/<%= flight._id %> ?_method=DELETE" method="POST">
            <button>X</button>
          </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>
<%- include("../partials/footer") %>